
.form-container{
     justify-content: center;
     flex-direction: column;
     background-color: #ffdee9;
     background-size: cover;
     background-position: center;
     
     animation: animateBackground 20s infinite linear;
     background-image: url(https://images.pexels.com/photos/847393/pexels-photo-847393.jpeg?auto=compress&cs=tinysrgb&w=600)
}
@keyframes animateBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
.form-container form{
    border: 1px  ;
    box-shadow: rgba(0,0,0,0,35) 0px 5px 15px;
    padding: 20px;
    width:100%;
    /* background-color: #fff; */
}
.form-container form.title{
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Playfair Display" serif;
}
.form-container form input{
    border: 2px solid;
   
    border-radius: 0;
}
.form-container form button{
    border: 2px solid black;
    border-radius: 0;
    background: #000;
    color: white;
   
}
.form-container form button:hover{
    border: 1px solid black;
    background: #000000;
    background: -webkit-linear-gradient(
        to right,
        #434343,
        #000000
    );
    background: linear-gradient(
        to right,
        #434343,
        #000000
    );

}

